@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 20px;
}

.logo {
    width: 30%;
    margin-top: 10px;
    margin-left: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.hide-mobile {
    display: none;
}

nav ul {
    position: fixed;
    width: 40%;
    top: 0;
    right: 0;
    text-align: left;
    background-color: #2567c4;
    height: 100%;
    margin-top: 0;
    padding: 0;
    padding-top: 3em;
}

.menu-list a {
    display: block;
    color: white;
    line-height: 40px;
    text-align: center;;
}

.menu-list a:hover {
    background-color: #458FF6;
    
}


.menu-icon {
    width: 40%;
    margin-top: 30px;
    margin-right:  20px;
}

.dotsImage1 {
    display: none;
}

h1 {
    font-size: 35px;
    margin-top: 40px;
}

p {
    color: #7D7987;
    font-size: 0.9em;
    line-height: 1.6em;
}

.main-content p {
    margin-bottom: 50px;
}

.blue-button {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #458FF6;
    padding: 1em 2em 1em 2em;
    border-radius: 50px;
    margin: 0px auto 0px auto;
    text-align: center;
    width: 50%;
}

.blue-button:hover {
    background-color: #79adf7;
}

.hero-image {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.h2-centered {
    text-align: center;
}

.hr-centered {
    width: 15%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.background-image {
    width: 135%;
    margin-left: -20px;
    position: absolute;
    z-index: -1;
}

.dotsImage2 {
    display: none;
}

.service-block {
    width: 50%;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px 40px 10px 40px;
    border-radius: 6%;
    border: 1px solid rgb(228, 226, 226);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.services-icons {
    width: 40%;
}

.button-position {
    display: flex;
    justify-content: center;
}

.white-button {
    color: #79adf7;
    text-decoration: none;
    border: solid 1px #458FF6;
    padding: 8px 30px 8px 30px;
    border-radius: 50px;
    margin-bottom: 80px;
}

.white-button:hover {
    background-color: #e4efff;
    border: solid 1px #ffffff;
}

.providers-image {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

.hr-center-aligned {
    width: 15%;
    border: 1px solid black;
    margin-bottom: 20px;
}

.providers h3 {
    text-align: center;
}

.providers p {
    margin-bottom: 20px;
}

.mobile-apps h3 {
    text-align: center;
}

.mobile-apps p {
    margin-bottom: 20px;
}

.mobile-apps-image {
    width: 100%;
    margin-top: -30px;
}

.dots-image3, .dots-image4 {
    display: none;
}

.testimonials {
    margin-top: 100px;
    background-color: #67c3f3;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}

.testimonials hr {
    border-color: #ffffff;
}

.testimonials-heading {
    text-align: center;
}

.avatar {
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
}

blockquote {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.articles h2 {
    margin-top: 100px;
    text-align: center;
}

.dots-image5 {
    width: 15%;
}

.background-image-2 {
    width: 80%;
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    margin-top: -50px;
    z-index: -1;
}

.article-image-1, .article-image-2, .article-image-3 {
    width: 100%;
    display: block;
    margin: auto;
}

.article-image-1 {
    margin-top: -50px;
}

.article-box {
    width: 80%;
    margin: auto;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

.article-box-text {
    padding: 18px;
    margin-top: -20px;
}

.article-box a {
    text-decoration: none;
    font-size: 0.8em;
    color: #458FF6
}

.article-button {
    width: 30%;
    margin: 30px auto 50px auto;
}

.dots-image-6 {
    display: none;
}

.footer {
    background-color: #67c3f3;
    color: #ffffff;
    padding: 20px;
}

.footer-text {
    color: #ffffff;
    text-align: center;
}

.white-logo {
    width: 35%;
    margin-top: 30px;
    margin-left: 115px;
}

.footer-links {
    width: 95%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-ul {
    list-style: none;
    text-align: left;
    line-height: 30px;
    text-decoration: none;
    font-size: 15px;
}

.footer-ul a {
    text-decoration: none;
    color: hwb(221 90% 0%);
}

.footer-dots {
    display: none;
}

.footer-ul a:hover {
    color:#c4dcff;
}