body {
    width: 100%;
    margin: 0px;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.menu-list-mobile {
    display: none;
}

/* Testing Syncing